.fb-container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
.fb-item {
  // width: 400px;
  margin: 5px;
  border: 2px solid black;
  background-color: rgb(235, 228, 228);
}

.fb-item-1 {
  width: 400px;
  flex-grow: 1;
  // flex-shrink: 0;
}
.fb-item-2 {
  width: 500px;
  // flex-grow: 2;
  // flex-basis: 0;
}
// .fb-item-3 {
//   min-height: 300px;
//   // flex-grow: 1;
//   // flex-basis: 0;
// }

// .fb-container {
//   height: 700px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   align-items: center;
//   align-content: space-between;
// }

// * {
//   margin: 0;
//   padding: 0;
//   font-size: 20px;
// }

////////////////////////
// .aa {
//   background-color: red;
//   padding: 20px;
//   border: 20px solid grey;
//   height: 100px;
//   width: 100px;
//   margin: 50px;
//   box-sizing: content-box;
// }
// .bb {
//   background-color: green;
//   border: 20px solid orange;
//   padding: 20px;
//   border: 20px solid grey;
//   height: 100px;
//   width: 100px;
//   margin: 50px;
// }

/////////////////////////
// .cl {
//   background-color: red;
// }
// span {
//   background-color: blue;
// }
// li:hover {
//   background-color: black;
// }

//////////////////////////////////
// <div>
//     <div className="landing-page">
//       <h1 className="book-h1">Book Catalog</h1>
//     </div>
//     <div className="box"></div>
//   </div>
// .book-h1 {
//   color: red;
//   color: hsl(0, 40%, 50%, 0.5);
// }
// h1 {
//   color: blue;
// }

// h1 {
//   color: green;
// }
// .box {
//   height: 100px;
//   width: 100px;
//   padding: 20px;
//   margin: 50px;
//   border: 5px solid black;
//   background-color: red;
// }

/*.landingpage {
  display: flex;
  justify-content: center;
  background-color: burlywood;
}
*/
