@import "../../Styles//colors.scss";

@mixin flex-prop {
  height: 70px;
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
  align-items: center;
}
.content-detail {
  padding: 10px;
  margin-top: 20px;
}

h2,
h3 {
  display: flex;
  color: $borderColor;
  justify-content: center;
}
.div-close {
  @include flex-prop;
  .close {
    color: $bgColorBookInfoBox;
    font-size: 20px;
    width: 60px;
    border-radius: 5px;
    border: 2px solid $borderColor;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}
