@import "../../Styles/colors.scss";

.div-style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
}

.btn-book-name {
  border: 3px solid $bgColorBookInfoBox;
  padding: 10px;
  text-align: center;
  width: 210px;
  border-radius: 20px;
  margin: 30px;
  cursor: pointer;
  &:focus {
    background-color: $bgColorBookInfoBox;
    color: $borderColor;
    border: 3px solid $borderColor;
  }
}
