$bground-color: #c45a7a;
$bg-white: white;
$bg-lightgreen: #f1f2ed;
.base {
  display: flex;
  background-color: $bg-lightgreen;
  justify-content: space-between;
  height: 100vh;
}
.flexbox-item {
  margin: 5px;
  border-radius: 15px;
}
.left-panel {
  width: 400px;
  flex-grow: 1;
  margin: 0 120px;
}

.right-panel {
  width: 500px;
  background-color: $bground-color;
}
.h3-all-books {
  margin-left: 40px;
}

.div-title {
  display: flex;
  justify-content: center;
  color: $bground-color;
  background-color: $bg-lightgreen;
}
