.header {
  height: 70px;
  width: 3700px;
  display: flex;
  justify-content: space-between;

  .header-routes {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f1f2ed;
    justify-content: flex-end;

    .header-route {
      padding: 10px 15px;
      text-decoration: none;
      color: black;
      font-size: large;
      margin-right: 30px;
    }
  }
}
