.header {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  background-color: #f1f2ed;
  .header-route {
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(187, 75, 93);
    margin-right: 30px;
    cursor: pointer;
  }
}
