.btn-round {
  background-color: rgb(211, 109, 109);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  width: 50px;
}

.form-content {
  padding-left: 40px;
}

.form-div {
  width: 310px;
  background-color: rgba(180, 180, 180, 0.575);
}
input {
  margin-top: 15px;
  margin-bottom: 10px;
}
